.dialog-form {
  display: flex;
  flex-direction: column;
}
.modal-close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}
h4 {
  margin-bottom: 5px;
}
.dialog-span {
  margin: 5px;
}
.submit-button {
  border: none;
  outline: none;
  background: transparent;
  margin: 10px 0 5px 0;
  padding: 5px;
  border-radius: 5px;
}
.submit-button:hover {
  background: #6565c7;
}
.submit-button:disabled:hover {
  background: transparent;
}

