@import "~leaflet/dist/leaflet.css";

html, body {
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.toolbar {
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height: 25px;
  background: #acacd6;
  padding: 5px 10px;
  line-height: 25px;
  font-family: monospace;
  font-weight: bold;
  font-size: larger;
}
.toolbar-icon {
  height: 26px;
  width: 26px;
  margin: 0 10px;
}
.app-list {
  width: 20vw;
  height: 93vh;
  overflow: hidden;
}

.app-map {
  width: 80vw;
  /*height: 100vh;*/
}
.map-container {
  position: relative;
  margin: 20px;
}

.map-frame {
  border: 2px solid black;
  height: 88vh;
}

#map {
  height: 100%;
}
.title {
  width: 100%;
  line-height: 20px;
  margin: 2px;
  border-radius: 5px;
  border-bottom: 1px solid gray;
}
.title:hover {
  background: #6565c7;
  border-radius: 5px;
  cursor: pointer;
}
.active {
  background: #f14b4b;
}
.active:hover {
  background: darkred;
  color: white;
}
.spacer {
  flex: 1;
}

.icon-button {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 2px;
}
.icon-button:hover {
  background: #b80717;
}
.hidden-list-icon:hover {
  background: #6565c7;
}

.app-dialog-component {
  display: none;
}
.app-dialog {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
}
.app-dialog-body {
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.73);
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.77);
  border-radius: 5px;
  width: 400px;
  position: relative;
  margin-top: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.app-dialog-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 1000;
}
body.app-dialog-open {
  overflow: hidden;
}

.nice-card {
  border: 1px solid #959595;
  border-radius: 3px;
  margin: 4px;
  padding: 3px;
  background: rgba(149, 149, 149, 0.06);
  box-shadow: 3px 3px 3px rgba(149, 149, 149, 0.1);
}


@media screen and (max-height: 500px) {
  .list {
    height: 80vh !important;
  }
  .map-frame {
    height: 80vh !important;
  }
}

.nice-input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  margin: 10px 5px;
  width: -webkit-fill-available;
  background: transparent;
}
::placeholder {
  color: #2f2f6c;
  opacity: 1;
}
h4 {
  margin: 5px;
}
.list {
  overflow: auto;
  height: 86vh;
  margin: 5px 5px 2px 8px;
  scrollbar-width: thin;
  scrollbar-color: #7b7b7b #cbcbcb;
}
.list::-webkit-scrollbar {
  width: 10px;
}
.list::-webkit-scrollbar-track {
  background: #cbcbcb;
  border-radius: 20px;
}
.list::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  border-radius: 20px;
  border: 2px solid #cbcbcb;
}
.modal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1200;
  display: flex;
  justify-content: center;
}
.modal-content {
  background: white;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  border-radius: 5px;
  width: 400px;
  position: relative;
  margin-top: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.dialog-form {
  display: flex;
  flex-direction: column;
}
.dialog-type-0-height {
  height: 220px;
}
.dialog-type-1-height {
  height: 130px;
}
.modal-close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}
h4 {
  margin-bottom: 5px;
}
.dialog-span {
  margin: 5px;
}
.submit-button {
  border: none;
  outline: none;
  background: transparent;
  margin: 10px 0 5px 0;
  padding: 5px;
  border-radius: 5px;
}
.submit-button:hover {
  background: #6565c7;
}
.submit-button:disabled:hover {
  background: transparent;
}
