@import "~leaflet/dist/leaflet.css";

html, body {
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.toolbar {
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height: 25px;
  background: #acacd6;
  padding: 5px 10px;
  line-height: 25px;
  font-family: monospace;
  font-weight: bold;
  font-size: larger;
}
.toolbar-icon {
  height: 26px;
  width: 26px;
  margin: 0 10px;
}
.app-list {
  width: 20vw;
  height: 93vh;
  overflow: hidden;
}

.app-map {
  width: 80vw;
  /*height: 100vh;*/
}

.icon-button {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 2px;
}
.icon-button:hover {
  background: #b80717;
}
.hidden-list-icon:hover {
  background: #6565c7;
}

.app-dialog-component {
  display: none;
}
.app-dialog {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
}
.app-dialog-body {
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.73);
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.77);
  border-radius: 5px;
  width: 400px;
  position: relative;
  margin-top: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.app-dialog-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 1000;
}
body.app-dialog-open {
  overflow: hidden;
}

.nice-card {
  border: 1px solid #959595;
  border-radius: 3px;
  margin: 4px;
  padding: 3px;
  background: rgba(149, 149, 149, 0.06);
  box-shadow: 3px 3px 3px rgba(149, 149, 149, 0.1);
}


@media screen and (max-height: 500px) {
  .list {
    height: 80vh !important;
  }
  .map-frame {
    height: 80vh !important;
  }
}
